# vscode ipch
**/.vscode/
**/.idea/
CMakeLists.txt

# No git files
nogit-*

# exe files
*.exe
*.exc
*.o
*.out
*.NEW
*.2
*.3
*.4
*.class

lg*
!lg*.cpp
!lg*.CPP
!lg*.cc
!lg*.CC
!lg*.py
!lg*.c
!lg*.java

# Special judge
1
2
3
4
5
6
7
8
9
a
b
c
d
e
f
g
h
i
j
test
untitled
kmp*
!kmp*.cpp
fft
hpre
enkoi-1
helloubuntu

